.crew {
  background-image: url("../../../public/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  height: 100vh;
  @media (min-width: 375px) {
    background-image: url("../../../public/assets/crew/background-crew-tablet.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("../../../public/assets/crew/background-crew-desktop.jpg");
  }
}
