.destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-size: cover;
  padding-top: 5rem;
  text-align: center;

  .pick {
    color: var(--primary-3);
    letter-spacing: 2.7px;
    min-width: 259px;
    margin: 0 2rem;
    span {
      font-weight: 700;
      opacity: 0.25;
    }
  }

  .image-container {
    width: 100%;
    margin-top: 2rem;
    padding: 0 2rem;
    img {
      width: 259px;
      animation: floating 4s ease-in-out infinite;
    }
  }

  @keyframes floating {
    0% {
      transform: translateY(-5%);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5%);
    }
  }

  ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 259px;
    margin: 1rem 2rem;
    li {
      list-style: none;
      text-transform: uppercase;
      padding: 0.7rem 0;
      transition: 0.1s ease-in-out;
    }

    li:hover {
      border-bottom: 3px solid var(--primary-3);
      color: var(--primary-3);
    }
  }

  h3 {
    text-transform: uppercase;
    min-width: 259px;
    margin: 0 2rem;
  }

  .context {
    margin: 0 2rem;
    min-width: 259px;
  }

  hr {
    margin: 1.5rem 2rem;
    width: 85%;
    min-width: 259px;

    border: 0.01rem solid #383b4b;
  }

  .more {
    padding-bottom: 3rem;
    min-width: 259px;
    margin: 0 2rem;
    .text {
      letter-spacing: 2.362px;
    }
    .distance,
    .time {
      font-size: 1.75rem;
      text-transform: uppercase;
    }

    .section2 {
      margin-top: 1rem;
    }
  }
  @media (min-width: 375px) {
    background-image: url("/assets/destination/background-destination-tablet.jpg");

    .pick {
      text-align: start;
      margin: 2rem 0 2rem 1.5rem;
    }

    .image-container {
      margin: 3rem 0;
      img {
        width: clamp(259px, 100%, 457px);
      }
    }

    ul {
      margin: 2rem auto;
      gap: 2rem;
    }

    h3 {
      margin: 0;
    }

    .context {
      margin: 0 5rem;
    }

    hr {
      width: 80%;
      margin: 3rem auto 1.5rem auto;
    }

    .more {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;

      .section2 {
        margin-top: 0;
      }
    }
  }
  @media (min-width: 768px) {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;

    .left-container {
      .pick {
        margin: 0;
      }
    }

    .right-container {
      width: 445px;
      text-align: start;

      ul {
        justify-content: flex-start;
      }

      .context {
        margin: 0;
      }

      hr {
        width: 100%;
      }

      .more {
        justify-content: flex-start;
        padding: 0;
      }
    }
  }
}
