@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

$heading: "Bellefair", serif;
$heading5: "Barlow Condensed", sans-serif;
$text: "Barlow Condensed", sans-serif;
